<form action="/order" method="post">
  <label for="namn">Namn:</label>
  <input type="text" id="namn" name="namn" required><br>

  <label for="adress">Adress:</label>
  <input type="text" id="adress" name="adress" required><br>

  <label>Glassorter:</label><br>
  <input type="checkbox" name="smaker" value="Jordgubb"> Jordgubb<br>
  <input type="checkbox" name="smaker" value="Choklad"> Choklad<br>
  <input type="checkbox" name="smaker" value="Vanilj"> Vanilj<br>

  <button type="submit">Beställ</button>
</form>
